.bg-green{
    background-color:cornflowerblue !important;
}
.navbar{
    padding: 0px 0px !important;
}
.navbar-nav .nav-link{
    color:aliceblue !important;
    font-weight: 600;
    border-right: 1px solid;
    padding:8px 18px !important;
}
.card-shadow{
    border-radius:5px;
    box-shadow:0 2px 8px 0 cornflowerblue;
}
.category-heading{
    padding: 10px 12px;
    background-color:cadetblue ;
    border-left: 6px solid cornflowerblue;
}
.post-heading{
    font-size:26px;
    color:gray;
}
.owl-nav button.owl-next,.owl-nav button.owl-prev{
    color:white !important;
    margin-left:10px;
    background-color:brown !important;
    outline: none;
    border: none !important;
    font-size: 20px !important;
    height: 28px;
    width: 38px !important;
}
.bg-gray{
    background-color:lightblue !important;
}